.navbar{
padding: 0px !important;
margin: 0px !important;
}
.navbar img{
    width: 70px; 
    height: 70px;
}
.navbar .myContainer{
    margin: 0 auto;
    
}

.navbar .myContainer .nav-menu{
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar .myContainer .nav-menu .nav-item{
    list-style-type: none;

}

.navbar .myContainer .nav-menu .nav-item .nav-links{
    text-decoration: none;
    color: black;
    font-size: 18px;
    padding:16px;
    position: relative;

}
.navbar .myContainer .nav-menu .nav-item .nav-links::before{
    content: "";
    position: absolute;
    width: 2px;
    height: 30px;
    right: 5px;
    background-color: black !important;
}
.active-link{
    background: red;
}
